.header{
  background: rgb(108, 140, 255);
}
.profile{
  transform: scale(1.2);
  margin-top: 100px;
}
.items:hover{
  border: 1px solid rgb(108, 140, 255);
  box-shadow: 10px 10px rgb(108, 140, 255);
  transform: scale(1.01);
}
.name{
  margin-top: -20px;
}
.fa{
  margin-right: 30px;
}
h1{
  font-family: bsr;
}

@font-face{
  font-family: bsr;
  src: url(fonts/bsr.ttf);
}
.space{
  height: 500px;
}
.gap.flex{
  height: auto;
}
.items{
height: 100%;
}
.players{
  grid-row-gap: 10%;
  grid-template-rows: repeat(3, calc(20%));
  grid-template-columns: repeat(2, 50%);
  height: 600px;
}
.top-box{
  width: 200px;
  height: 100px;
}
.box{
  background:rgb(108, 140, 255)
}
li:hover{
  color: #89CC41;
}
.menu{
  background: #FFD86B;
}
li:active{
  transition: 0s;
  transform: scale(1)
}
