div.clickEffect{
  position:fixed;
  box-sizing:border-box;
  border-style:solid;
  border-color:#000000;
  border-radius:50%;
  animation:clickEffect 0.4s ease-out;
  z-index:99999;
}
@keyframes clickEffect{
  0%{
    border-color: blue;
    opacity:1;
    width:0.5em; height:0.5em;
    margin:-0.25em;
    border-width:0.5rem;
  }
  25%{
    border-color: yellow;
  }
  50%{
    border-color: orange;
  }
  100%{
    border-color: red;
    opacity:0.2;
    width:15em; height:15em;
    margin:-7.5em;
    border-width:0.03rem;
  }
}
.items:hover{
  border: 1px solid orange;
  box-shadow: 10px 10px orange;
  transform: scale(1.01);
}

.profile{
  margin-top: 250px;
  transform: scale(1.2);
}
.ar{
  transform: scale(1.1);
  margin-top: 150px;
  margin-left: 60px;
}
.ta{
  margin-top: 290px;
  margin-left: 10px;
}
.number{
  margin: -80px;
  top: 50px;
  left: 80px;
}
.num {
  font-size: 70px;
}
.name{
  top:40px;
  left: 20px;
}
.na{
  font-size: 20px;
}
.number.gen{
  top: 25px;
}
.gen{
  font-size: 60px;
}
.middle{
  width: 100%;
  top: 35px;
}
