::-webkit-scrollbar {
  width: 0px;
}
body, html{
  width: 100%;
  height: 100%;
  margin: 0px;
  display: block;
}
.heading{
  overflow: hidden;
  height: 90%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -15px;
  background: url(images/anime.jpg);
  background-size: cover;
}
#main-img{
  filter: blur(3px) opacity(.55);
  margin-left: -700px;
}
.outer-border{
  position: relative;
  border: 5px solid #76D4FC;
  outline: 2px solid #FBE6B7;
  width: auto;
  height: auto;
 transform: rotate(5deg);
 z-index: 9;
 display: flex;
 justify-content: center;
 align-items: center;
}
.header-text{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #FFCFE6;
  outline: 2px solid #FBE6B7;
  height: 200px;
  width: 100%;
  font-family: kiona;
  font-size: 100px;
  color: #6D93C2;
  z-index: 1;
  transform: rotate(-5deg);
  padding: 20px;
  box-sizing: border-box;
}
.nav-bar{
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  background: #FFFEF8;
}
.main-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.footer{
  position: fixed;
  top: 100%;
  height: 10%;
  width: 100%;
  background: #FEE3E0;
  border-top: 2px solid #A68F93;
}
.box{
  display: block;
  background: #76D4FC;
  height: 100%;
  width: 100%;
  padding: 50px;
  z-index: 1;
  transform: rotate(-5deg);
  padding: 20px;
  box-sizing: border-box;
}
.box:after{
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 5px solid #6D93C2;
  outline: 2px solid #FBE6B7;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}
.text{
  margin: 0px;
  padding-top: 10px;
  font-size: 400%;
  color: white;
  font-family: kiona;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  padding: 10px;
}
.about-text{
  font-size: 300%;
  color: white;
  font-family: sans;
}
.angle-border{
  position: relative;
  border: 5px solid #F9BAD5;
  outline: 2px solid #FBE6B7;
  height: 50%;
  width: 50%;
  transform: rotate(5deg);
  display: flex;
  left: 0%;
  justify-content: center;
  align-items: center;
}
.side-bar{
  z-index: 9999;
}
/* My Hero Acadamia */
#mha{
  position: relative;
  display: none;
  left: 100%;
}
.box.mha{
  background: rgb(255, 251, 176);
}
.box.mha:after{
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 5px solid #CC4961;
  outline: 2px solid #FBE6B7;
}
.text.mha{
  color: #2A7E5C;
}
.about-text.mha{
  color: #2A7E5C;
  font-size: 150%;
}
/* Days */
#days{
  position: relative;
  display: none;
  left: 100%;
  border: 5px solid rgb(40, 40, 40);
}
.box.days{
  background: rgb(40, 40, 40);
}
.box.days:after{
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 5px solid rgb(100, 100, 150);
  outline: 2px solid #FBE6B7;
}
.text.days{
  color: white;
}
.about-text.days{
  color: white;
  font-size: 150%;
}
/* All Out */
#ao{
  position: relative;
  display: none;
  left: 100%;
}
.box.ao{
  background: #B04531;
}
.box.ao:after{
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 5px solid #62AB52;
  outline: 2px solid #FBE6B7;
}
.text.ao{
  color: white;
}
.about-text.ao{
  color: white;
  font-size: 150%;
}
/* Ao Haru Ride */
#bsr{
  position: relative;
  display: none;
  left: 100%;
}
.box.bsr{
  background: #9DD1CC;
}
.box.bsr:after{
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 5px solid #C1D9CB;
  outline: 2px solid #FBE6B7;
}
.text.bsr{
  color: white;
}
.about-text.bsr{
  color: white;
  font-size: 150%;
}
/* Haikyu!! */
#hai{
  position: relative;
  display: none;
  left: 100%;
}
.box.hai{
  background: #EF8632;
}
.box.hai:after{
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 5px solid #354B8C;
  outline: 2px solid #F2C641;
}
.text.hai{
  color: #F0ECE5;
}
.about-text.hai{
  color: #F0ECE5;
  font-size: 150%;
}
/* Fire Force */
#ff{
  position: relative;
  display: none;
  left: 100%;
}
.box.ff{
  background: rgb(132, 208, 217);
}
.box.ff:after{
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  outline: 2px solid #F20C1F;
}
.text.ff{
  color: white;
}
.about-text.ff{
  color: white;
  font-size: 150%;
}
/* Nav-bar */
ul{
  padding-top: 20px;
  display: flex;
  list-style: none;
}
li{
  font-family: kiona;
  font-size: 30px;
  padding: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  transition: ease .5s
}
li:hover{
  text-shadow: 0 0 1px rgba(255,207,230,.2), 0 0 1px rgba(255,207,230,.2), 0 0 1px rgba(255,207,230,.2),
   0 0 2px rgba(255,207,230,.2), 0 0 10px rgba(249,186,213,.15), 0 0 10px rgba(249,186,213,.15), 0 0 10px rgba(249,186,213,.15);
  color: #FEBFB0;
}
.sticky {
  position: fixed;
  top: 0%;
  width: 100%;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #76D4FC;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* Text */
h1{
  margin-top: 16%;
}
@font-face{
  font-family: kiona;
  src: url(fonts/kiona.ttf);
}
@font-face{
  font-family: aliens;
  src: url(fonts/aliens.ttf);
}
@font-face{
  font-family: sans;
  src: url(fonts/sans.otf);
}

/* Images */

.logo{
  position: relative;
  top: 90%;
  left: 70%;
  max-width: 30%;
  max-height: 30%;
  -webkit-animation: pulse 1s infinite;
  z-index: 10;
}
.logo:hover{
  cursor: pointer;
}
.small{
  top: -30px;
  left: 60%;
}
.longer{
  left: 60%;
}
.longest{
    left: 65%;
}
.side-bar {
  z-index: -9;
  position: fixed;
  height: 80%;
  top: 10%;
  left: 0;
  width: 13vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideImg{
  max-width: 100%;
  max-height: 100%;
  opacity: .5;
}
.space{
  left: 87vw;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: grayscale(30%);
  }
  50% {
    transform: scale(1.05);
    filter: grayscale(0%);
  }
  100% {
    transform: scale(1);
    filter: grayscale(30%);
  }
}

@media screen and (max-width: 2400px){
  .logo{
    top: -40px;
  }
  .small{
    top: -50px;
  }
}
@media screen and (max-width: 1527px){
  .about-text.mha{
    font-size: 110%;
  }
}
@media screen and (max-width: 1416px){
  .side-bar{
    margin-left:200px;
    display: flex;
  }

  .logo.mha{
    top: 0px;
  }
  .text{
    font-size: 150%;
  }
  .about-text{
      font-size: 120%;
  }
  .about-text.days{
      font-size: 90%;
  }
  .about-text.ao{
      font-size: 90%;
  }
  .about-text.bsr{
      font-size: 90%;
  }
  .about-text.hai{
      font-size: 90%;
  }
  .about-text.ff{
      font-size: 90%;
  }
  li{
    text-align: center;
  }
}

@media screen and (max-width: 1256px){
  .text.mha{
    font-size: 40px;
  }
  .h{
      top: 10px
  }
  .f{
    max-width: 40%;
    max-height: 40%;
  }
}
@media screen and (max-width: 936px){
  html{
    margin-left: 0px;
    margin-bottom: 0px;
  }
  body{
    padding-top: 70px;
    background: url(images/anime.jpg);
    background-size: cover;
  }
  .heading{
    background: none;
  }
  .main-body{
    background:white;
  }
  .space{
    display: none;
  }
  .angle-border{
    left: 20%;
  }

}
@media screen and (max-width: 700px){
  .about-text.days{
      font-size: 90%;
  }
  .about-text.ao{
      font-size: 90%;
  }
  .about-text.bsr{
      font-size: 90%;
  }
  .about-text.hai{
      font-size: 90%;
  }
  .about-text.ff{
      font-size: 90%;
  }
  .about-text.mha{
    font-size: 90%;
  }

}
@media screen and (max-width: 460px){
  html{
    margin-left: 0px;
  }
  body{
    padding-top: 150px;
  }
  ul{
    width: 100%;
    flex-wrap: wrap;
  }
  .angle-border{
    left: 0%;
    width: 100%;
    height: 50%;
    border: 0px;
    outline: 0px;
  }
}
