/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(61, 59, 61, .5);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body, html{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: lightblue;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}
div{
  width: 100%;
  padding: 5px;
}
#container {
  padding: 0px;
  height: 100vh;
  width: 70vw;
}
.logo{
  background: white;
  height: calc(100%/6);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  filter: grayscale(90%);
}
.logo:hover {
  transition: ease 1s;
  -webkit-filter: grayscale(0);
}
.logo-img{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar {
  position: fixed;
  height: 100%;
  left: 0;
  width: 13vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space{
  left: 86vw;
}
.sideImg {
  max-width: 100%;
  max-height: 100%;
}
#mha{
  transition: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#mha:hover{
  box-shadow: 10px 10px yellow;
  transform: scale(1.01);
  filter: grayscale(0);
}
#days{
  transition: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#days:hover{
  transition: ease 1s;
  box-shadow: 10px 10px red;
  transform: scale(1.01);
}
#ao{
  transition: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#ao:hover{
  transition: ease 1s;
  box-shadow: 10px 10px red;
  transform: scale(1.01);
}
#bsr{
  transition: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#bsr:hover{
  transition: ease 1s;
  box-shadow: 10px 10px #0583F2;
  transform: scale(1.01);
}
#hai{
  transition: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#hai:hover{
  transition: ease 1s;
  box-shadow: 10px 10px orange;
  transform: scale(1.01);
}
#ff{
  transition: 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#ff:hover{
  transition: ease 1s;
  box-shadow: 10px 10px #F20C1F;
  transform: scale(1.01);
}
img {
  max-height: 100%;
  max-width: 100%;
}
.content {
  display: none;
  background: white;
  border-radius: 20px;
  height: 90%;
  width: 50%;
  padding: 20px;
  overflow-y: auto;
}
.days {
}
.holder {
  display: none;
  width: 50%;
}
.video-holder{
  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  max-width: 100%;
  max-height: 100%;
}
#mha-logo2 {
  -webkit-animation: pulse 1s  infinite;
}
#days-logo2 {
  -webkit-animation: pulse 1s  infinite;
}
#ao-logo2 {
  -webkit-animation: pulse 1s  infinite;
}
#bsr-logo2 {
  -webkit-animation: pulse 1s  infinite;
}
#hai-logo2 {
  -webkit-animation: pulse 1s  infinite;
}
#ff-logo2 {
  -webkit-animation: pulse 1s  infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: grayscale(30%);
  }
  50% {
    transform: scale(1.05);
    filter: grayscale(0%);
  }
  100% {
    transform: scale(1);
    filter: grayscale(30%);
  }
}
.content-small{
  display: none;
}
@font-face {
  font-family: text;
  src: url(fonts/text.otf);
}
h1{
  font-family: text;
  font-size: auto
}


@media screen and (max-height: 500px){
  .content {
    border-radius: 0px;
    display: none;
  }
  .logo-img{
    width: 90%;
  }
  video {
    max-width: 90%;
    max-height: 90%;
  }
  .holder {
    overflow-y: scroll;
    height: 100%;
  }
  .logo {
    -webkit-filter: grayscale(0);
    height: 25%;
    width: 100%;
  }
  #container {
    padding-right: 5px;
    width: 100%;
  }
  #days-logo {
    margin-right: -60px;
  }
  #bsr-logo{
    margin-right: 5px;
  }
  .side-bar {
    display: none;
  }
  .content-small{
    display: flex;
    align-items: center;
    width: 50%;
    height: 90%;
    padding-right: 20%;
  }
  .right {
    padding-right: 0%;
    padding-left: 20%;
   text-align: right;
  }
}
@media screen and (max-width: 642px){
  div{
    padding: 0px;
  }
  .logo {
    filter: grayscale(0);
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .content{
    border-radius: 0px;
    margin-top: 20px;
    width: 90%;
  }
  .holder{
    width: 60%;
  }
  video {
    width: 100%;
    height: 100%;
  }
  #container {
    width: 100%;
    opacity: 1;
  }
  .side-bar {
    display: none;
  }
  .content-small{
    display: none;
  }
  #hai-logo {
    width: 98%;
    height: 98%;
  }
  #bsr-logo{
    width: 98%;
    height: 98%;
  }

}
@media screen and (max-width: 414px){
  .holder{
    width: 90%;
  }
}
